@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 0.1px solid black; */
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
